{% extends 'base.html' %}

{% block content %}
  <h1>Редактировать запчасть</h1>
  <form method="post">
    {{ form.hidden_tag() }}
    <div class="mb-3">
      {{ form.name.label }}
      {{ form.name(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.manufacturer_id.label }}
      {{ form.manufacturer_id(class='form-select') }}
    </div>
    <div class="mb-3">
      {{ form.type_id.label }}
      {{ form.type_id(class='form-select') }}
    </div>
    <div class="mb-3">
      {{ form.system_id.label }}
      {{ form.system_id(class='form-select') }}
    </div>
    <div class="mb-3">
      {{ form.article.label }}
      {{ form.article(class='form-control') }}
    </div>
    <div class="mb-3">
      {{ form.original_article.label }}
      {{ form.original_article(class='form-control') }}
    </div>
    <button class="btn btn-primary">Сохранить</button>
    <a href="/parts" class="btn btn-secondary">Отмена</a>
  </form>
{% endblock %}
